# Ignore environment variables
.env*
!.env.example

# Ignore node_modules
node_modules

# Ignore generated Prisma client
src/generated/prisma

# Ignore Logs
logs
*.log

# Build directories
dist
build
